* { box-sizing: border-box; }
body {
  margin: 0;
  background: #f2f2f2;
  overflow-x: hidden;
  overflow-y: hidden;
}
header {

  background-color:#a1a08b;
  height: 10vh;
  padding: 0 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotipchik{
  height: 8vh;
  background-image: url(/page/Logo.png);
  padding-left: 0px;
  cursor: pointer;
}

.primary-navigation {
  display: block;
  text-align: center;
  font-size: 16px;
}
#navv{
  list-style: none;
  margin: 0 auto;

  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  transition: 0.3s;
}
.nav-button{
  color: #f6ede4;
}
#navv a{
  color: #f6ede4;
  transition: 0.3s;
}
#navv a:hover{
  color:#7b2b50;
}
.nav-button:hover {
  color: #7b2b50;
  cursor: pointer;
}
.dropdown {
  display: none;
  position: absolute;
  padding-left: 0;
  left: 0;
  z-index: 10;
}
.dropdown_active {
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  padding-left: 30px;
  background: #a1a08b;
}
.dropdownli {
  clear: both;
  width: 100%;
  text-align: left;
  border-style: none;
  list-style: none;
  padding: 10px 0;
}
.dropdown a1,a2,a3,a4{
  color: #f6ede4;
  transition: all 0.3s ease;
}
#a4{
  padding-bottom: 20px;
}
.dropdown a1:hover{
  color: #FFD21D;
  border-left: 2px solid #FFD21D;
  padding-left: 15px;
}
.dropdown a2:hover{
  color: #FF931E;
  border-left: 2px solid #FF931E;
  padding-left: 15px;
}
.dropdown a3:hover{
  color: #58DB40;
  border-left: 2px solid #58DB40;
  padding-left: 15px;
}

.dropdown a4:hover{
  color: #81CDFF;
  border-left: 2px solid #81CDFF;
  padding-left: 15px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #7b2b50;
}

ul li ul li{
  transition: all 0.3s ease;
}


footer{
  height: 10vh;
  background-color:#a1a08b;
  display: flex;
  justify-content:center;
  align-items: center;
}

.our_image{
  width: 30vh;
  display: flex;
  justify-content: space-between;
  position: absolute;
}
.our_image a{
  height:6vh
}
.image{
  width: 6vh;
  height: 6vh;
  transition: 0.3s;
}
.image:hover{
  cursor: pointer;
  opacity: 0;
}

.our_imageee{
  width: 30vh;
  display: flex;
  justify-content: space-between;
}
.imageee{
  height: 6vh;
  width: 6vh;
}



.hamburger-menu{
  display: none;
}
#menu__toggle {
  display: none;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  cursor: pointer;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  z-index: 10;
  width: 30px;
  height: 2.5px;
  background-color: #f6ede4;
  transition-duration: 0.25s;
}
.menu__btn > span{
  right: 7vw;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  z-index: 7;
  top: 0;
  right: -65vw;
  width: 60vw;
  height: 100vh;
  margin: 0;
  padding: 70px 0;
  color: #f6ede4; 
  list-style: none;
  background-color: #a1a08b;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
#menu{
  display: block;
  padding: 14px 30px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  transition-duration: .25s;
  
}
.logo_burger{
  width: 135%;
  position: absolute;
  bottom: 5vh;
  right: -40%;

}
.menu-button:hover{
  color: #7b2b50;
  cursor:pointer
}
#menu a{
  color: #f6ede4;
  transition: 0.3s;
}
#menu a:hover{
  color:#7b2b50;
}
.menu-button:hover {
  color: #7b2b50;
  cursor: pointer;
}
.dropdown_menu {
  display: none;
  padding-left: 0;
  left: 0;
}
.dropdown_active {
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  background: #a1a08b;
}
.dropdownli_menu {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
  list-style: none;
}
.dropdown_menu a5,a6,a7,a8{
  font-size: 14px;
  color:  #f6ede4;
}
.dropdownli_menu:hover {
  padding-left: 10px;
  transition: all 0.3s ease;
}
.dropdown_menu a5:hover{
  color: #FFD21D;
  border-left: 2px solid #FFD21D;
  padding-left: 10px;
}
.dropdown_menu a6:hover{
  color: #FF931E;
  border-left: 2px solid #FF931E;
  padding-left: 10px;
}
.dropdown_menu a7:hover{
  color: #58DB40;
  border-left: 2px solid #58DB40;
  padding-left: 10px;
}

.dropdown_menu a8:hover{
  color: #81CDFF;
  border-left: 2px solid #81CDFF;
  padding-left: 10px;
}
a {
  text-decoration: none;
}

ul li ul li{
  transition: all 0.3s ease;
}

section{
  height: 80vh;
}
.title_k{
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 33px;
  font-weight: 900;
  color: #797964;
   
}
.slider{
  width: 95vw;
  height: 70vh;
  margin: 0 auto;
  padding: 20px;
  background: #A1A18B;
  border-radius: 50px;
  z-index: 5;
}
.slick-next::before {
  content:"";
  height: 20px;
  width: 20px;
  background-image: url('page/вперёд.png');
  background-size: cover;
  display: block;
}
.slick-prev::before {
  content:'';
  height: 20px;
  width: 20px;
  background: url('page/назад.png');
  background-size: cover;
  display: block;
}
.slick-list, .slick-track, .slick-slide, .hui, .sl{
  height: 100%;
}
.flexxx{
  height: 100%;
    width: 100%;
  display: flex;
  justify-content: space-between;
}

.hello{
  width: 100%;
  height: 100%;
}
.gallery{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*sliderrr*/
.wrap, .wrap1, .wrap2, .wrap3, .wrap4 {
  height: 100%;
  width: 100%;
}
.mask, .mask1, .mask2, .mask3, .mask4 {
  position: relative;
  overflow: hidden;
  height: 80%;
}
.group, .group1, .group2, .group3, .group4 {
  position: absolute; 
  margin: 0;
  padding: 0;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
} 
.imoge, .imoge1, .imoge2, .imoge3, .imoge4{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imoge img, .imoge1 img, .imoge2 img, .imoge3 img, .imoge4 img{
  width: 100%;
  border-radius: 20px;
  border: 2px solid #58DB40;
}

/* nav
----------------------*/
.melkie, .melkie1, .melkie2, .melkie3, .melkie4 {
  height: 20%;
  width: 100%;
  text-align: center;
}
.melkie .mel_bul, .melkie1 .mel_bul1, .melkie2 .mel_bul2, .melkie3 .mel_bul3, .melkie4 .mel_bul4 {
	margin: 0;
	padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.melkie .mel_bul li, .melkie1 .mel_bul1 li, .melkie2 .mel_bul2 li, .melkie3 .mel_bul3 li, .melkie4 .mel_bul4 li {
  width: 24%;
}
.melkie .mel_bul .bullet, .melkie1 .mel_bul1 .bullet1, .melkie2 .mel_bul2 .bullet2, .melkie3 .mel_bul3 .bullet3, .melkie4 .mel_bul4 .bullet4 {
  width: 100%;
  border-radius: 15px;
  border: 2px solid #a1a08b;
  opacity: 0.6;
  cursor: pointer;
}
.melkie .mel_bul .bullet.current, .melkie1 .mel_bul1 .bullet1.current, .melkie2 .mel_bul2 .bullet2.current, .melkie3 .mel_bul3 .bullet3.current, .melkie4 .mel_bul4 .bullet4.current {
  border: 2px solid #58DB40;
  opacity: 1;
}


.information{
  width: 74%;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.slide_title{
  height: 12%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.small{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 26px;
  color: #f6eee4;
  margin: 0;
  text-align: center;
}

h2{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: #f6eee4;
  margin: 0;
  text-align: center;
}
.stars{
  width: 20%;
}
.block1{
  height: 45%;
  background: #797964;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.column_slide1{
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}
.svodka{
  width: 100%;
  display: flex;
  align-items: center;
  
}
.column_slide2{
  width: 50%;
  display: flex;
  align-items: center;
}
.icon_info{
  height: 3.5vh;
  margin-right: 10px;
}
h5{
  margin: 0;
  font-family: 'Montserrat';
  font-weight:500;
  font-size: 15px;
  color: #f6eee4;
  text-align: justify;
  line-height: 130%;
}
h6{
  margin: 0;
  font-family: 'Montserrat';
  font-weight:500;
  font-size: 16px;
  color: #f6eee4;
}
.block2{
  height: 35%;
  background: #797964;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}
h4{
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 20px;
  color: #58DB40;
  margin: 0;
}
.otzivi{
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.otziv{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cloud{
  width: 100%;
  height: 65%;
  background: #B8B89D;
  margin: 0;
  padding: 5%;
  font-family: 'Montserrat';
  font-weight:600;
  font-size: 13.3px;
  color: #f6eee4;
  text-align: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.chel{
  height: 30%;
}
#toTop{
  height: 3vh;
  width: 3vh;
  margin: 1vh 2vh 1vh auto;
  background: url('page/вверх.png') no-repeat;
  background-size: 100% 100%;
  display: none;
}

@media (min-width: 1600px) {
  h2{
    font-size: 40px;
  }
  h6, h5{
    font-size: 21px;
  }
  h4{
    font-size: 25px;
  }
  .cloud{
    font-size: 20px;
  }
  .otzivi{
    height: 80%;
  }
}
@media (max-width: 1300px) {
  h2{
    font-size: 36px;
  }
  h6, h5{
    font-size: 14px;
  }
  h4{
    font-size: 21px;
  }
  .cloud{
    font-size: 16px;
  }
  .icon_info{
    height: 2vh;
  }
}
@media (max-width: 900px) {
  .image, .imageee{
    width: 5vh;
    height: 5vh;
  }
  .logotipchik{
    height: 5vh;
  }
  .our_image, .our_imageee{
    width: 25vh;
  }
  .our_image a{
    height:5vh;
  }
}

@media (max-width: 850px){
  .primary-navigation{
    display: none;
  }
  .hamburger-menu{
    display: block;
  }
  body{
    overflow-y: auto;
  }
  section{
    height: auto;
  }
  .slider {
    width: 95vw;
    height: auto;
}
  .flexxx{
    height: auto;
    flex-direction: column-reverse;
  }
  .gallery{
    width: 100%;
    margin-top: 5vh;
  }
  .information, .block1, .block2{
    width: 100%;
  }
  .slide_title{
    height: auto;
    justify-content: space-between;
  }
  .block1{
    height: auto;
    flex-direction: column;
    padding: 20px;
    margin: 2vh 0;  
  }
  .column_slide1{
    width: 85%;
    padding-bottom: 20px;
  }
  .column_slide2{
    width: 85%;
  }
  .svodka{
    margin: 1vh 0;
  }
  .block2{
    height: auto;
    padding: 20px;
  }
  .otzivi{
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .otziv{
    width: 70%;
    align-items: flex-start;
  }
  .o2{
    align-items: flex-end;
  }
  .cloud{
    justify-content: center;
  }
  h4{
    margin-bottom: 2vh;
  }
  .chel{
    margin: 1vh 0 2vh 0;
  }
  #toTop{
    display: block;
  }
  .stars{
    width: 30%;
  }
  .wrap, .wrap1, .wrap2, .wrap3, .wrap4{
    height: 70vh;
  }
  .melkie .mel_bul, .melkie1 .mel_bul1, .melkie2 .mel_bul2, .melkie3 .mel_bul3, .melkie4 .mel_bul4 {
    width: 95%;
    margin: 0 auto;
}
.melkie .mel_bul li, .melkie1 .mel_bul1 li, .melkie2 .mel_bul2 li, .melkie3 .mel_bul3 li, .melkie4 .mel_bul4 li  {
    width: 20%;
}
}

@media (max-width: 600px) {
  header, footer{
    height: 7.2vh;
  }
  .image, .imageee{
    width: 4.5vh;
    height: 4.5vh;
  }
  .logotipchik{
    height: 4.5vh;
  }
  .our_image, .our_imageee{
    width: 22.5vh;
  }
  .our_image a{
    height:4.5vh;
  }
  #navv{
    padding: 0 15px;
    font-size: 12px;
  }
  .gallery{
    margin-top: 2.5vh;
  }
  .icon_info{
    height: 20px;
  }
  .cloud{
    font-size: 12px;
  }
  .otziv{
    width: 80%;
  }
  #toTop{
    margin: 1vh 1vh 1vh auto;
  }
  .stars{
    width: 40%;
  }
}

@media (max-width: 400px) {
  h5, h6{
    font-size: 12px;
  }
}
